# Patterns to ignore when packaging the chart with `helm package`

.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/

# CI artifacts

dist/
node_modules/
